// Light theme colors
$first-color: rgb(146, 22, 108);
$body-bg-color: white;
$text-header-footer-color: white;
$text-button-color: white;
$text-color: black;

// Dark mode
$text-color-dark-mode: white;
$body-bg-color-dark-mode: black;
$moon-icon-color-dark-mode: rgb(255, 251, 0);

// sizes
$header-height: 50px;
$footer-height: 100px;

// shadows
$shadow-style: 10px 10px 5px rgb(0, 0, 0, 0.6);






